.App {
  text-align: center;
  padding-bottom: 30px;
  /*background-color: #00ff00*/
}

.question {
  padding-top: 70px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.vertical-align {
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* React Motion */

.demo0 {
  border-radius: 4px;
  background-color: rgb(240, 240, 232);
  position: relative;
  margin: 5px 3px 10px;
  width: 20px;
  height: 450px;
  float: left;
  margin-right: 15px;
}

.demo0-i {
  border-radius: 4px;
  background-color: #d3d3d3;
  position: relative;
  margin: 5px 3px 10px;
  width: 20px;
  height: 450px;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}

.demo0-block {
  position: absolute;
  width: 20px;
  height: 0px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}

.demo2-outer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-drag {
/*  background-color: #f6f6f6;*/
  width: 100%;
  height: 470px;
  margin-bottom: 20px;
}

.demo2-ball {
  position: absolute;
  border-radius: 99px;
  border-width: 0px;
  width: 40px;
  height: 40px;
  cursor: -webkit-grab;
}

.student-ball {
  position: absolute;
  color: #ffffff;
  border-radius: 99px;
  border-width: 0px;
  width: 50px;
  height: 50px;
  cursor: -webkit-grab;
}

.small-circle {
  border-radius: 99px;
  border-width: 0px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.ball-background {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: 30px 0 0 -180px;
  left: 50%;

  border-color: #a8a8a8;
  border-width:5px;  
  border-style:dashed;
  border-radius: 200px;
}

.unselectable { 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  /* Introduced in IE 10. See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/ */ 
  -ms-user-select: none; user-select: none; 
}


/*
.demo2-main {
  top: 25%;
  transform: translateY(50%);
  margin: 0 auto;
  border-color: #a8a8a8;
  border-width:5px;  
  border-style:dashed;
  border-radius: 200px;
  width: 400px;
  height: 400px;
}*/

.class-view-grid {
  padding: 20px;
}

.student-score-wrapper {
  display: flex;
  align-items: center;
 /* width: 150px;*/ /*can be in percentage also.*/
 /* height: auto;*/
  margin: 0 auto;
  position: relative;
  height: 110px;
}

.student-score-circle-avg {
  border-color: #AAD219;
  border-width: 2px;  
  border-style: dashed;
  border-radius: 75px;
  margin: 0 auto;
  position: relative;
} 

.student-score-circle {
  background-color: #AAD219;
  border-radius: 95px;
  border-color: #000000;
  border-width: 1px;
  width: 79px;
  height: 79px;
  z-index: -1;
  margin: 0 auto;
  position: relative;
  transform: 
    translate3d(0px, 0px, 0px)
    scale(1.5);
}

.student-score-wrapper-lg {
  display: flex;
  align-items: center;
  width: 200px; /*can be in percentage also.*/
 /* height: auto;*/
  margin: 0 auto;
  position: relative;
  height: 450px;
 /* width: 300px;
*/}

.student-score-circle-avg-lg {
  border-color: #AAD219;
  border-width: 2px;  
  border-style: dashed;
  border-radius: 300px;
  margin: 0 auto;
  position: relative;
} 

.student-score-circle-lg {
  background-color: #AAD219;
  border-radius: 200px;
  border-color: #000000;
  border-width: 1px;
  width: 300px;
  height: 300px;
  z-index: -1;
  margin: 0 auto;
  position: relative;
  transform: 
    translate3d(0px, 0px, 0px)
    scale(1.5);
}

.chartContainer {
  padding-bottom: 20px;
}

/*.container {
  padding-bottom: 15px;
}*/

.vertical-text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 425px;
  margin-left: 0px;
}

.line{
  width: 25px;
  /* height: 47px; */
  border-bottom: 2px solid #ffffff;
  position: absolute;
}

.edit-text {
  width: 60px;
  margin: 0 auto;
  text-align: center;
}

.sort-column {
  font-size: 11px;
}

.table {
  font-size: 11px;
}

.progress {
  margin-top: 20px;
  height: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.progress-bar {
  background-color: #AAD219;
}

.navbar-text {
  text-align: left;
}

.panel-footer {
  text-align: right;
  padding: 10px 15px;
  background: none;
  border-top: 1px solid #ddd; 
  border-bottom-right-radius: 3px; 
  border-bottom-left-radius: 3px; 
}

.feedback-overlay {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6; /* see below for cross-browser opacity */
}

.small {
  width: 65px;
}

#tooltip-dynamic-right {
  margin-top: -18px;
  margin-left: 25px;
}


/* TLX */
.tlx {
  width: 30px;
  height: 30px;
  float: left;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

td.top1 {
    cursor: pointer;
    width: 0.6cm;
    height: 0.4cm;
    border-top: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

td.bottom {
    cursor: pointer;
    width: 0.6cm;
    height: 0.4cm;
    border-bottom: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

td.top2 {
    cursor: pointer;
    width: 0.6cm;
    height: 0.4cm;
    border-top: 1px solid #a8a8a8;
    border-right: 1px solid #a8a8a8;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.table {
  margin-bottom: 0px;
}

.order {
  display: none;
}