.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.vertical-align {
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* React Motion */
.demo0 {
    border-radius: 4px;
    background-color: rgb(240, 240, 232);
    position: relative;
    margin: 5px 3px 10px;
    width: 450px;
    height: 50px;
}
.demo0-block {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(130, 181, 198);
}

.demo2-outer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;

}
.demo2 {
  background-color: #f6f6f6;
  width: 950px;
  height: 700px;
}

.demo2-ball {
  position: absolute;
  border-radius: 99px;
  border-width: 0px;
  width: 40px;
  height: 40px;
  cursor: -webkit-grab;
}

.student-ball {
  position: absolute;;
  color: #ffffff;
  border-radius: 99px;
  border-width: 0px;
  width: 40px;
  height: 40px;
  cursor: -webkit-grab;
}


.demo2-main {
  top: 25%;
  transform: translateY(100%);
  margin: 0 auto;
  border-color: #a8a8a8;
  border-width:5px;  
  border-style:dashed;
  border-radius: 200px;
  width: 200px;
  height: 200px;
}
